/* @tailwind base;

@tailwind components;

@tailwind utilities; */

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
  font-family: "Prompt", sans-serif;
}

.ant-pagination {
  color: #ffffff !important;
}

.ant-table-pagination.ant-pagination {
  color: #ffffff !important;
}
